body{

    background:#f4f6f9;
    font-family:Arial;

}

.title{

    font-weight:bold;
    color:#0d6efd;

}

.card{

    border:none;
    border-radius:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);

}

.menu-card{

    transition:0.3s;

}

.menu-card:hover{

    transform:translateY(-5px);

}
